<EditForm Model="@appointment" OnValidSubmit="@OnValidSubmit">
    @*<DataAnnotationsValidator />*@
    <div class="form-group">
        <label>Patient Name :</label>
        <div>
            <InputText @bind-Value="@appointment.PatientName" />
            <ValidationMessage For="@(() => appointment.PatientName)" />
        </div>
    </div>
    @*<div class="form-group ">
        <div>
            <label>Appointment Date :</label>
            <div>
                <InputText @bind-Value="@appointment.AppointmentDate" />
                <ValidationMessage For="@(() => appointment.AppointmentDate)" />
            </div>
        </div>
    </div>*@
    <div class="form-group ">
        <div>
            <label>Problem :</label>
            <div>
                <InputText @bind-Value="@appointment.Problem" />
                <ValidationMessage For="@(() => appointment.Problem)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Amount :</label>
            <div>
                <InputText @bind-Value="@appointment.Amount" />
                <ValidationMessage For="@(() => appointment.Amount)" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>
@code {
    [Parameter] public Appointment appointment { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}